.main{
	width: 100%;
	height: rem(458);
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media all  and (min-width:768px){
		height: rem(963);
	}
	@media all  and (min-width:1024px){
		height: 100vh;
	}


	&__photo {
		width: rem(250);
		height: rem(63);
		margin-top: rem(95);
		margin-bottom: rem(35.4);
		@media all  and (min-width:768px){
			margin-top: rem(350);
			margin-bottom: rem(31);
		}
		&--logo{
			width: 100%;
		}
		
		@media all  and (min-width:768px){
			width: rem(419);
			height: rem(105);
			margin-bottom: rem(31);
		}
	}

	&__section{
		width: rem(264.8);
		margin-bottom: rem(17.8);
		@media all  and (min-width:768px){
			width: rem(331);
			height: rem(80);
			margin-bottom: rem(27);
		}
	}

	&__title {
		width: rem(223);
		height: rem(24);
		color: $orange;
		margin: auto;
		text-align: center;
		font-family: $Merriweather;
		font-size: rem(19.2);
		
		@media all  and (min-width:768px){
			width: rem(278);
			height: rem(31);
			font-size: rem(24);
		}
	}

	&__text {
		height: rem(38.4);
		color: $darkblue;
		text-align: center;
		font-family: $OpenSans;
		font-size: rem(12.8);
		@media all  and (min-width:768px){
				width: rem(331);
				height: rem(48);
				font-size: rem(16);
		}
	}

	&__symbols {
		width: rem(268);
		height: rem(73.8);
		padding: rem(15) rem(20) rem(10) rem(20);
		border: 1.6px solid rgba(225, 115, 52, 0.21);
		border-radius: 4px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media all  and (min-width:768px){
			width: rem(325);
			height: rem(86); 
		}
		.content-symbols {
			width: rem(60);
			height: rem(48.8);
			text-align: center;
			border: none;
			@media all  and (min-width:768px){
				width: rem(75);
				height: rem(61);
			}

			.symbols{
				font-size: rem(22.4);
				display: flex;
				justify-content: center;
				align-items: center;
				color: $orange;

				@media all  and (min-width:768px){
						font-size: rem(28);
				}
				&__text{
					color: #54585a;
					font-size: rem(12.8);
					font-family: $OpenSans;
					margin-top: rem(2);
					margin: rem(0);
					@media all  and (min-width:768px){
						font-size: rem(16);
					}
				}
			}
		}
	}  
    
	&__button{
		width: rem(129);
		height: rem(42);
		border-radius: 21px;
		font-weight: 600;
		background-color: $dirtyblue;
		margin-top: rem(38.6);
		margin-bottom: rem(30);
		display: flex;
		justify-content: center;
		align-items: center;
		@media all  and (min-width:768px){
				margin-top: rem(186);
				margin-bottom: rem(59);
		}
	}
	.button__text{
		color: $white;
		font-family: $OpenSans;
		font-size: rem(16);
		text-transform: uppercase;
	}
}

/*MEDIA QUERIES*/
@media all  and (min-width:768px) {

	.main {

		&__photo {
			

		}

		&__section {
	
		}

		&__title {

		}

		&__text {

		}

		&__symbols {

		}
	}
	.symbols {
		

		&__text {
		}
		&__button{

		}
	}
			
	
}
