<div class="content">
    <section class="preview">

    </section>


    <section class="create">
        <div class="create__design">
            <div>
                <div class="create__design--icon"></span>
                <h2 class="create__design--title">Diseña</span>
            </div>
            <span class="create__design--text">Colores</span>
            <div class="create__design--form">
                <input id="COLORES" type="checkbox" value="mixblue" name="COLORES">
                <div class="colormix">
                    <span class="colormix__darkblue"></span>
                    <span class="colormix__blue"></span>
                    <span class="colormix__acqua"></span>
                </div>
                <input id="COLORES" type="checkbox" value="mixred" name="COLORES">
                <div class="colormix">
                    <span class="colormix__darkred"></span>
                    <span class="colormix__red"></span>
                    <span class="colormix__orange"></span>
                </div>
                <input id="COLORES" type="checkbox" value="mix" name="COLORES">
                <div class="colormix">
                    <span class="colormix__metalblue"></span>
                    <span class="colormix__yellow"></span>
                    <span class="colormix__lightgrey"></span>
                </div>
            </div>
        </div>
        <div class="create__fill">

        </div>
        <div class="create__share">

        </div>
    </section>
</div>