<main class="main">
<div class="main__photo"></div>
<section>
<h1 class="main__title">Crea tu tarjeta de visita</h1>
<p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda.</p>
</section>
<div class="main__symbols">
    <div> <i class="far fa-object-ungroup"></i><p class="symbols__text">Diseña</p></div>
    
    <span> <i class="far fa-keyboard"></i><p class="symbols__text">Rellena</p></span>
    
    <span> <i class="fas fa-share-alt"></i><p class="symbols__text">Comparte</p></span>
    
</div>

<div class="main__button">
    <button class="button">Comenzar</button>
</div>
</main>
