<main class="main">
  <div class="main__photo"></div>
  <section class="main__section">
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <p class="main__text">Crea mejores contactos profesionales de forma fácil y cómoda.</p>
  </section>
  <div class="main__symbols">
    <div>
      <span class="symbols"><i class="far fa-object-ungroup"></i></span>
      <p class="symbols__text">Diseña</p>
    </div>
    <div>
      <span class="symbols"><i class="far fa-keyboard"></i></span>
      <p class="symbols__text">Rellena</p>
    </div>
    <div>
      <span class="symbols"><i class="fas fa-share-alt"></i></span>
      <p class="symbols__text">Comparte</p>
    </div>
  </div>
  <div class="main__button">
    <a class="first__button" href="#">comenzar</a>
  </div>
</main>
