<div class="content">
    <section class="preview">
        <button class="preview__button" id="reset"><i class="fa fa-trash-o fa-lg"></i>Reset</i></button>
        <div class="preview__card">
            <h1 class="preview__title">Nombre Apellido</h1>
            <p class="preview__text">front end developer</p>
            <img class="preview__image" src="./assets/images/user.png">
            <div class="preview__icons">
                <a class="icon"><i class="fas fa-mobile-alt"></i></a>
                <a><i class="far fa-envelope"></i></a>

            </div>
            
        </div>
    </section>
    <section class="create">
        <div class="create__design">
        </div>
        <div class="create__fill">

        </div>
        <div class="create__share">

        </div>
    </section>
</div>