<div class="content">
    <section class="preview">
        <button class="preview__button">Reset</button>
        <div class="preview__card">
            <h1 class="preview__title">Nombre Apellido</h1>
            <p class="preview__text">front end developer</p>
            <img class="preview__image" src="./assets/images/image-profile.png">
            



        </div>

    </section>


    <section class="create">
        <div class="create__design">
        </div>
        <div class="create__fill">

        </div>
        <div class="create__share">

        </div>
    </section>
</div>