.main__button{
    width: rem(129);
    height: rem(42);
    padding-top: 7px;
    padding-bottom: 12px;
    padding-left: 23px;

    border: 2px solid $darkblue;
    border-radius: 30px;
    background:$darkblue;

   
    
}
.button{
    
    color: $white;
    font-size: rem(16);
    text-align: center;
}