.colormix {
    width: rem(30);
    height: rem(25);
    background-color: orange;
    &__darkblue {
        background-color: $darkblue;
    }
    &__blue{
        background-color: $dirtyblue;
    }
}