.create{
    padding: rem(20);
    padding-bottom: 0;
    padding-top: rem(27);
    font-family: 'OpenSans', Arial;
    color: $gunmetal;

    &__design {
        text-transform: uppercase;
        padding-bottom: rem(10);
        border-bottom: 1px solid $white-two;
        &--icon{
            color: $tomato;
            width: rem(21);
            height: rem(18);
        }

        &--title {
            font-size: rem(18);
            margin: rem(0) rem(0) rem(0) rem(10);
            font-weight: 600;
        }
        &--arrow {
            width: rem(16);
            height: rem(18);
            color: $gunmetal;
            font-size: rem(18);
        }
        &--text {
            margin: rem(73) rem(219) rem(132) rem(19);
            font-size: rem(14);
            top: 5px;    
        }
        // &--form {
        //     display: flex;
        // }
    }
}

.design-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-left {
    display: flex;
    flex-direction: row;
}

.view-hidden{
    margin: rem(22) rem(0) rem(20) rem(0);
}

.color__one, .color__two, .color__three{
    width: rem(17);
    height: rem(17);
    margin-right: rem(10);
    align-self: center;
}

.colormix {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: rem(10) rem(0) rem(10) rem(0);
    
    &__darkblue {
        width: rem(30);
        height: rem(25);
        background-color: $darkblue;
    }

    &__blue{
        width: rem(30);
        height: rem(25);
        background-color: $dirtyblue;
    }

    &__acqua{
        width: rem(30);
        height: rem(25);
        background-color: $hospitalgreen;
    }

    &__darkred{
        width: rem(30);
        height: rem(25);
        background-color: $driedBlood;
    }

    &__red{
        width: rem(30);
        height: rem(25);
        background-color: $rustyRed;
    }

    &__orange{
        width: rem(30);
        height: rem(25);
        background-color: $tomato;
    }

    &__metalblue{
        width: rem(30);
        height: rem(25);
        background-color: $slateBlue;
    }

    &__yellow{
        width: rem(30);
        height: rem(25);
        background-color: $fadedOrange;
    }

    &__lightgrey{
        width: rem(30);
        height: rem(25);
        background-color: $lightGreyBlue;
    }

}