.create__fill {
	border-bottom: rem(1) solid $white-two;
	padding-bottom: rem(7);

	.fill__header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $gunmetal;
		padding: rem(10) rem(0) 0;
		text-transform: uppercase;
		font-size: rem(18);
		.fill__header {
			display: flex;
			align-items: center;
			.fill__title{
				text-transform: uppercase;
				font-family: $OpenSans;
				font-weight: 600;
				font-size: rem(18);
				margin: 0;
				margin-left: rem(9);
			}
			.fa-keyboard {
				color: $orange;
			}
		}
	}
	

	.fill__form {
		margin-bottom: rem(20);
		padding-top: rem(25);

		.fa-keyboard {
			color: $orange;
		}
		.fa-chevron-down {
			margin-right: rem(20);
		}
		.fill__label{
			display: block;
			font-size: rem(14);
			margin-bottom: rem(7);
			color: $darkblue;
			font-family: $OpenSans;
		}
		.fill__input {
			display: block;
			font-size: rem(14);
			border: rem(1) solid $hospitalgreen;
			margin-bottom: rem(20);
			padding: rem(7) rem(9);
			color: $darkblue;
			font-family: $OpenSans;
			&::placeholder{
				color: $pinkishgrey;
			}
			&:last-child {
				margin-bottom: rem(23);
			}
		}
		.fill__input-file {
			display: none;
		}

		.fill__file-picker-wrapper {
			display: flex;
			align-items: flex-start;
		}

		.fill__button {
			background-color: $orange;
			box-shadow: 0 0 rem(4) 0 $shadow-button;
			border-radius: rem(3);
			color: $white;
			font-size: rem(14);
			font-family: $OpenSans;
			padding: rem(7) rem(22);
			border: none;
			margin-bottom: rem(20);
		}

		.fill__image-preview {
			width: rem(30);
			height: rem(30);
			display: inline-block;
			border: rem(1) solid $hospitalgreen;
			margin-left: rem(20);
		}
	}
}