.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text{
        color: #d8d8d8;
        margin-top: rem(18);
    }


    &__logo{
        width: rem(103);
        height: rem(40);
        background: url(../images/logo-adalab.png);
        background-position: center;
        background-size: cover;
        margin-bottom: rem(20);
        

    }
}