.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.header__photo{
    width: rem(201);
    height: rem(50);
    background: url(../images/profile.svg);
    background-size: cover;
    background-position: center;
    margin-bottom: rem(30);


}