
.content {
	width: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom, $beige, $white 9%);

	@include media ($tablet) {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		padding-left: 15;
    	padding-right: 15;
    	padding-top: 20px;
	}
}

.preview {
	padding: rem(38) rem(40) rem(40) rem(40);
	display: grid;
	grid-row: 1fr 1fr;
	justify-content: center;
	align-items: flex-start;
	background-color: $greenBackground;
	
	&__card {
		background-color: $white;
		margin-top: rem(20);
		width: rem(240);
		border-radius: rem(15);
		-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
		box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.35);
	}
	
	&__button {
		border: solid rem(1) $white;
		background-color: $white ;
		border-radius: rem(15);
		width: rem(75);
		height: rem(30);
		color: $gunmetal;
		font-size: rem(10);
		font-family: $OpenSans;
		line-height: rem(20);
		text-transform: uppercase;
		align-self: flex-end;
		cursor: pointer;
		&:hover {
			border: 2px solid $white;
			background-color: transparent;
			color: $white;
			font-size: rem(12);
			transition: color ease-in 500ms;
			transition: background-color ease-in 500ms;
		}
	}
	&__content {
		border-left: solid rem(5) $dirtyblue;

		&__title {
			font-family: $Montserrat;
			font-weight: 700;
			color: $darkblue;
			font-size: rem(18);
			text-transform: capitalize;
			margin-left: rem(15);
			margin-top: rem(21);
			margin-bottom: rem(4);
		}
		&__text {
			font-family: $Montserrat;
			margin-left: rem(15);
			color: $gunmetal;
			margin-top: 0; 
			margin-bottom: rem(10);
			font-size: rem(16);
		}
	}
	&__image {
		width: 100%;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.fa.fa-trash-o.fa-lg {
	font-size: rem(10);
	margin-right: rem(6);
}

//**SOCIAL ICONS**//

.preview__icons {
	margin-left: rem(18);
	padding: rem(17) rem(0) rem(19);
}

.icon {
	color: $darkblue;
	font-size: rem(18);
	margin: rem(40) rem(0); 
	text-align: center;
	padding: rem(2);

	&--1{
		border: rem(2) solid $hospitalgreen;
		border-radius: 50%;
		padding: rem(5) rem(9);
		color: $darkblue;
	}
	&--2{
		border: rem(2) solid $hospitalgreen;
		border-radius: 50%;
		padding: rem(5) rem(6);
		color: $darkblue;
	}
	&--3{
		border: rem(2) solid $hospitalgreen;
		border-radius: 50%;
		padding: rem(5) rem(7);
		color: $darkblue;
	}
	&--4{
		border: rem(2) solid $hospitalgreen;
		border-radius: 50%;
		padding: rem(5) rem(7);
		color: $darkblue;
	}
   
}

@include media ($tablet){
	.content {
		padding: rem(23) rem(40) rem(21);
	}
	.content-preview {
		width: 100%;
		height: 80vh;
		background-color: $pinkBackground;
		border-radius: rem(20);
		
	}
	.preview {
		border-radius: rem(20);
	}
	.content-create {
		width: 100%;
		max-width: rem(399);
	}
	.create {
		margin: rem(7) rem(30) rem(30) rem(0);
		padding: rem(0);
	}
}
	
.blue {
	.preview__content {
		border-color: $dirtyblue;
		.preview__content__title {
			color: $darkblue;
		}
	}
	.icon--1, .icon--2, .icon--3, .icon--4 {
		color: $darkblue;
		border-color: $hospitalgreen;
	}
}

.red {
	.preview__content {
		border-color: $rustyRed;
		.preview__content__title {
			color: $driedBlood;
		}
	}
	.icon--1, .icon--2, .icon--3, .icon--4 {
		color: $driedBlood;
		border-color: $tomato;
	}
}

.yellow {
	.preview__content {
		border-color: $fadedOrange;
		.preview__content__title {
			color: $slateBlue;
		}
	}
	.icon--1, .icon--2, .icon--3, .icon--4 {
		color: $slateBlue;
		border-color: $lightGreyBlue;
	}
}

.hidden-icons{
	opacity: 0.5;
}

@include media ($desktop){
	.content-preview {
		background-color: $pinkBackground;
		height: 90vh;
	}
	.preview {
		
		background-color: $blueBackground;
	}		
}