.create {
  padding: 27px 23px 0;
  /*background-image: linear-gradient(to bottom, $beige, $white 9%);*/
  &__share {    
    padding-bottom: rem(30);
    border-bottom: 1px solid $white-two;
    display: flex;
    flex-direction: column;
    .create-intro {
      margin-top: rem(10);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .title {
        margin: 0;
        font-family: $OpenSans;
        font-size: rem(18);
        font-weight: 600;
        color: $gunmetal;
        text-transform: uppercase;
      }
      .logo {
        margin-right: rem(12);
      }
      .arrow-button {
        font-size: rem(18);
        color: $gunmetal;
      }
    }
    .create-button {
      width: rem(199);
      height: rem(50);
      margin: auto;
      margin-top: rem(30);
      background-color: $orange;
      border: none;
      border-radius: rem(12);
      box-shadow: 0 1px 6px 0 $shadow-button;
      font-family: $OpenSans;
      font-size: rem(18);
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
      .fa-address-card {
        margin-right: rem(12);
        font-size: rem(22);
      }  
    }
  }
  
  .active-share {
      display: none;
    }
  &__share-two {
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $white-two;
    .title-share {
      margin: 0;
      text-align: center;
      font-family: $OpenSans;
      font-size: rem(18);
      font-weight: 600;
      color: $gunmetal;
      span {
        text-transform: capitalize;
      }
    }
    .link-share {
      text-align: center;
      color: $orange;
      border-radius: rem(3);
      font-size: rem(12);
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      margin-top: rem(5);
      
    }
    .create-button-two {
      padding: 0;
      width: rem(181);
      height: rem(30);
      margin: auto;
      margin-top: rem(10);
      background-color: $azure;
      font-family: $OpenSans;
      color: $white;
      border: none;
      box-shadow: 0 0 4px 0 $shadow-button;
      font-size: rem(14);
      font-weight: 400;
      text-transform: lowercase;
      span {
        text-transform: capitalize;
      }
      .fa-twitter {
        margin-right: rem(9.5);
        font-size: rem(18);
      }
    }
  }
}
