.create {
  padding: 27px 23px 30px;
  background-image: linear-gradient(to bottom, $beige, $white 9%);
  &__share {    
    padding-bottom: 30px;
    border-bottom: 1px solid $white-two;
    display: flex;
    flex-direction: column;
    .create-intro {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .title {
        margin: 0;
        font-family: $OpenSans;
        font-size: 18px;
        font-weight: 600;
        color: $gunmetal;
        text-transform: uppercase;
      }
      .logo {
        margin-right: 12px;
      }
      .arrow-button {
        font-size: 18px;
        color: $gunmetal;
      }
    }
    .create-button {
      width: 199px;
      height: 50px;
      margin: auto;
      margin-top: 30px;
      background-color: $orange;
      border: none;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 $shadow-button;
      font-family: $OpenSans;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
      i {
        margin-right: 12px;
        font-size: 22px;
      }  
    }
  }
  
  .active-share {
      display: none;
    }
  &__share-two {
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $white-two;
    .title-share {
      margin: 0;
      text-align: center;
      font-family: $OpenSans;
      font-size: 18px;
      font-weight: 600;
      color: $gunmetal;
      span {
        text-transform: capitalize;
      }
    }
    .link-share {
      text-align: center;
      color: $orange;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      margin-top: 5px;
      
    }
    .create-button-two {
      padding: 0;
      width: 181px;
      height: 30px;
      margin: auto;
      margin-top: 10px;
      background-color: $azure;
      font-family: $OpenSans;
      color: $white;
      border: none;
      box-shadow: 0 0 4px 0 $shadow-button;
      font-size: 14px;
      font-weight: 400;
      span {
        text-transform: capitalize;
      }
      i {
        margin-right: 9.5px;
        font-size: 18px;
      }
    
    }
  }
}
