/**MEDIA QUERIES**/

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

/**FONT-SIZE**/

$defaultFontSize: 16; 

/**FONT-FAMILY**/

$Merriweather: 'Merriweather', serif;
$Montserrat:'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

/**COLORS**/

$black: black;
$white: white;
$darkblue: #114e4e;
$dirtyblue: #438792;
$hospitalgreen: #a2deaf;
$beige: #f5f5f5;
$orange: #e17334;
$driedBlood: #420101;
$rustyRed: #bd1010;
$tomato: #e95626;
$slateBlue: #3e5b65;
$fadedOrange: #eab052;
$lightGreyBlue: #a0c0cf;
$gunmetal: #54585a;
$azure:#00a0f5;
$white-two: #d8d8d8;
$shadow-button: rgba(0, 0, 0, 0.32);